.home {
  background: url("https://images7.alphacoders.com/310/310611.jpg") no-repeat
    center center fixed;
  background-size: cover;
  min-height: 94vh;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.home-button {
  margin-right: 20px;
  width: 180px;
  height: 30px;
  border-radius: 4px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: fixed;
  left: 400px;
}

/* ARREGLAR EL LOADING PARA QUE QUEDE EN EL CENTRO */

.home button:hover {
  color: #ff8000;
  border-color: #ff8000;
}

.home input{
  margin: 3em;
}

.search-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 875px) {
 .home{
   background-size: cover;
   max-width: 875px;
   margin: 0
  }
}
@media screen and (max-width: 480px) {
  .home{
    background-size: cover;
    max-width: 480px;
    margin: 0
   }
 }

