.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
  color: #ffffff;
}
.row.center:hover .card{
  opacity: 0.9;
}

.row.center .card:hover {
  transform:perspective(800px) rotateY(0deg);
  opacity:1;
}

.row.center .card:hover {
  color: #ff8000;
}

.return button {
  cursor: pointer;
  all: unset;
}

.return {
  display: flex;
  position: relative;
  cursor: pointer;
}

.return img {
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  top: 20px;
  /* background-color: white; */
  border-radius: 50%;
  transition: 0.5s ease-in;
  z-index: 3;
}

/* img {
  border-radius: 0.5rem;
  margin: 1rem;
  margin-left: 2px;
}
img.medium {
  max-width: 18rem;
  width: 90%;
} */

.Card {
  border: 0.1rem #000000 solid;
  border-radius: 1rem;
  margin: 1.8rem;
  text-decoration: none;
  width: 75vw;
  height: 100%;
  padding: 1em;
  margin-top: 4rem;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform-origin:center;
}

.large {
  display: block;
  margin: 16px auto;
  border-radius: 16px;
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.pokedetail .Card .large {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.pokedetail {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.body-card > * {
  color: #000000;
  text-align: center;
  margin-top: 20px;
}

.body-card h1 {
  font-size: 2rem;
  padding: 0rem;
  text-decoration: none;
}

.body-card h4 {
  font-size: 1.4rem;
  padding: 0rem 0;
  text-decoration: none;
  margin-top: 20px;
}

.loading {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.notFound img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.halves {
  padding: 40px 40px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .halves {
    padding: 0;
  }
  .body-card h4 {
    font-size: x-small;

    margin-top: 20px;
  }
  .large {
    height: 150px;
    width: 80px;
    object-fit: contain;
  }
}